<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="#"/>
    <title>Index</title>
</head>
<body>
<form action="./doLoginView" method="post">
    帳號: <input type="text" name="account"><br/>
    密碼: <input type="password" name="password"><br/>
    <input type="button" onclick="submitform()" value="送出">
</form>
<script type="text/javascript">
    function submitform() {
        var _this = this;
        let form = document.getElementsByTagName('form')[0];
        var xhr = new XMLHttpRequest();
        xhr.open(form.method, form.action, true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr.send(JSON.stringify(Object.fromEntries(new FormData(document.getElementsByTagName('form')[0]))));

        xhr.onreadystatechange = function() {
            if (this.readyState == this.HEADERS_RECEIVED && this.status == 200) {
                _this.location = this.responseURL;
            }
        }
    }
</script>
</body>
</html>